@tailwind base;
@tailwind components;
@tailwind utilities;







/* Custom styles can be added in your CSS file, if needed */
.h-screen {
    height: 10vh;
  }
  .flex {
    display: flex;
  }
  .page{
    transition: top 1s  ease-in-out;
  }
  .scroll-down {
    background-color: #ffebee; /* Example: highlight background for scroll down */
    transform: translateY(5px);
    transition: transform 0.3s, background-color 0.3s;
}

.scroll-up {
    background-color: #e8f5e9; /* Example: highlight background for scroll up */
    transform: translateY(-5px);
    transition: transform 0.3s, background-color 0.3s;
}

.sidebar-item {
    transition: color 0.3s;
}
/* Make sure sidebar stays fixed on all screen sizes */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px; /* Adjust as needed */
  z-index: 100;
  transition: transform 0.3s ease-in-out;
}

/* Mobile view adjustments */
@media (max-width: 768px) {
  .sidebar {
    width: 100%; /* Full-width on mobile */
  }
}
